:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color-text: #2196f3;
  --logo-text-color: #000000;
  --white-color: #ffffff;
}

/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #FFFFFF */

body {
  background-color: #ffffff;
  color: var(--primery-text-color);
}
.logo {
  color: var(--logo-text-color);
}
/* site-nav */

.site-nav .link {
  color: var(--logo-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color-text);
}

/* hero */

.hero-title {
  color: var(--white-color);
  background-color: #2f303a;
}

/* section */

.section-title {
  color: var(--secondary-text-color);
}
.section .title {
  color: var(--secondary-text-color);
}

/* Особенности */

.peculiarity {
  list-style: none;
}

.peculiarity .title a {
  color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.our-work {
  list-style: none;
}

/* Наш персонал */

.our-personal {
  list-style: none;
}
