:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color-text: #2196f3;
}
/* logo */
.logo {
  color: var(--secondary-text-color);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
}
/* header */
.nav-site a {
  color: var(--secondary-text-color);
  line-height: 16px;
}
.auth-nav a {
  color: var(--primery-text-color);
}
.nav-site a:hover,
.nav-site a:focus {
  color: var(--accent-color-text);
}
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color-text);
}

/* body */
.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* hero */
.hero-title {
  color: #ffffff;
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
}
/* button */
.button {
  color: #ffffff;
  background-color: var(--accent-color-text);
}

.section-title {
  color: var(--secondary-text-color);
}
h3 a {
  color: var(--secondary-text-color);
}
p {
  color: var(--primery-text-color);
}
/* footer */
.footer {
  background-color: #2f303a;
}

.addres {
  font-style: normal;
}
