:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color-text: #2196f3;
  --logo-text-color: #000000;
  --white-color: #ffffff;
  --background-footer-color: #2f303a;
}

/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #FFFFFF */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: var(--primery-text-color);
}

.logo {
  color: var(--logo-text-color);
}
/* site-nav */

.site-nav {
  font-weight: 500;
  line-height: 1.17;
  list-style: none;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--logo-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color-text);
}

/* auth-nav */

.auth-nav {
  list-style: none;
  letter-spacing: 0.02em;
}

.auth-nav .link {
  color: var(--primery-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color-text);
}

/* hero */

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: #2f303a;
  text-align: center;
}

/* section */

.section-title {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
}
.section .title {
  color: var(--secondary-text-color);
}

/* Особенности */

.peculiarity {
  list-style: none;
}

.peculiarity .title a {
  color: var(--secondary-text-color);
}

/* Чем мы занимаемся */

.our-work {
  list-style: none;
}

/* Наш персонал */
.our-personal {
  font-size: 16px;
  line-height: 1.17;
  list-style: none;
}

.our-personal .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  list-style: none;
}

/* footer */

.addres {
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.03em;
  background-color: var(--background-footer-color);
}

.addres-list {
  list-style: none;
}

.addres .link {
  color: rgba(255, 255, 255, 0.6);
}
